<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Package Detail">
  <ion-content class="padding">
    <img ng-src="img/delivery1.jpg" style="width: 64px; height: 64px">
	  
    <h3>      {{parcel.packageId}}    </h3>
    <p>      {{parcel.dimensions}}    </p>
    <p>      {{parcel.weight}}  gm  </p>
	<h3>      {{parcel.addressLine1}}    </h3>
	<p>      {{parcel.addressLine2}}    </p>
	<p>      {{parcel.addressLine3}}    </p>
    <h3>      {{parcel.pincode}}    </h3>
    <h3>      {{parcel.paymentType}}    </h3>
    <h3><span style="color:blue">{{parcel.scheduledDateTime | date:"MM/dd/yyyy '@' h:mma"}}</span></h3><br>

	<hr>
	<button class="button button-block button-positive" ng-click="onClickClaim()">
	Claim for Delivery
	</button>
  </ion-content>
</ion-view>
