<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Package Detail">
  <ion-content class="padding">
	<img ng-src="img/map1.jpg" style="width: 100%; height: 200px">

	<br>  {{parcel.packageId}}  
    <br>      {{parcel.dimensions}}    
    <br>      {{parcel.weight}}  gm  
	<br>      {{parcel.addressLine1}}    
	<br>      {{parcel.addressLine2}}  
	<br>      {{parcel.addressLine3}} 
    <br>      {{parcel.pincode}}
	<br>
	<br>
    <br>      {{parcel.paymentType}}
    <br><span style="color:blue">{{parcel.scheduledDateTime | date:"MM/dd/yyyy '@' h:mma"}}</span><br>

	<hr>

	<button class="button button-block button-positive" ng-click="showPopupBidAmount()">
	Claim for Delivery
	</button>
  </ion-content>
</ion-view>
