<ion-view view-title="">
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-body">
        <div>
<label class="item item-input">
  <span class="input-label">Username</span>
  <input type="text" value="ganeshghag">
</label>

<label class="item item-input">
  <span class="input-label">Password</span>
  <input type="password" value="password">
</label>

<button class="button button-block button-positive">
  Login
</button>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
