<ion-view view-title="Account">
  <ion-content class="padding">
	
    
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="Ganesh">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Ghag">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="ganesh.ghag@gmail.com">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Username</span>
    <input type="text" placeholder="ganeshghag">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Password</span>
    <input type="password" placeholder="password">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Description</span>
    <input type="text" placeholder="Description">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Address Line 1</span>
    <input type="text" placeholder="address">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Address Line 2</span>
    <input type="text" placeholder="address">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Address Line 3</span>
    <input type="text" placeholder="address">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Address Line 4</span>
    <input type="text" placeholder="address">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Pincode</span>
    <input type="text" placeholder="400606">
  </label>

  <ul class="list">

  <li class="item item-toggle">
     Share Current Location?
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

	<hr>
	<button class="button button-block button-positive" ng-click="onClickSaveAccount();">
		Save  Changes
	</button>

</div>

  </ion-content>
</ion-view>
