<ion-view view-title="Pickup Locations">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="location in locdata" type="item-text-wrap" href="#/tab/locations/{{location.name}}">
        <img ng-src="img/warehouse1.jpg">
        <h2>{{location.name}}</h2>
        <h3>{{location.addressLine1}}</h3>
		<p>{{location.addressLine2}}</p>
		<p>{{location.addressLine3}}</p>
		<p>{{location.addressLine4}}</p>
		<h3>{{location.pinocde}}</h3>
		<h3><span style="color:blue">Dist: {{location.distance}} Kms &nbsp;&nbsp;  {{location.parcelCount}} packages<span></h3>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
